<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd"
>


    <context:annotation-config/>
    <context:component-scan base-package="com.zqgame.netty.io.message"/>

    <bean name="messageMap" class="java.util.HashMap"/>
    <!--注册注解-->
    <bean name="messageAnnotationRegister" class="com.zqgame.netty.io.annotations.registers.MessageAnnotationRegister"></bean>

    <bean name="defaultTimeUnit" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="java.util.concurrent.TimeUnit.MILLISECONDS"/>
    </bean>

    <bean name="taskQueue" class="java.util.concurrent.LinkedBlockingQueue"/>

    <bean name="threadPool" class="java.util.concurrent.ThreadPoolExecutor">
        <constructor-arg index="0" value="4" />
        <constructor-arg index="1" value="20" />
        <constructor-arg index="2" >
            <bean class="java.lang.Long" >
                <constructor-arg index="0" value="0"/>
            </bean>
        </constructor-arg>
        <constructor-arg index="3" ref="defaultTimeUnit"/>
        <constructor-arg index="4" ref="taskQueue"/>
    </bean>

    <!--计划调度的线程池-->
    <bean name="scheduleThreadPool" class="java.util.concurrent.ScheduledThreadPoolExecutor">
        <constructor-arg index="0" value="4"/>
    </bean>

</beans>